{% extends 'base.html' %}

{% block title %}Yazilarim{% endblock %}

{% block content %}

{% for yazi in yazilar %}
<div class="card mb-3" > 
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ yazi.resim.url }} "class="img" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ yazi.baslik }}</h5>
          <p class="card-text">{{ yazi.icerik|safe|truncatechars_html:150}}</p>
          <p class="card-text"><small class="text-muted">{{ yazi.duzenlenme_tarihi | timesince}}ago</small></p>
        </div>
       
    </div>
</div>

{% empty %}
<p> hiç yazi bulunamadı </p>
{% endfor %}

{% endblock%}